*{
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
div, p, a, img, form, button{
	box-sizing: border-box;
}
ul, li {
	display: block;
}
a {
	text-decoration: none;
}
.header {
	background: url(../img/back.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.container {
	max-width: 1366px;
	margin: 0 auto;
}
.container__text {
	padding-top: 50px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
h1 {
	font-size: 70px;
	font-weight: 900;
}
.container__text p {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 10px;
}
.container__line {
	margin-right: 122px;
}
.line {
	margin: 0 auto;
}
.container__scroll {
    position: absolute;
    left: 50%;
    right: 50%;
	bottom: 10px;
}

.mini-menu {
	max-width: 60px;
	right: 50px;
    top: 33px;
    position: absolute;
}
.mini-menu .sub  ul {
    display: none;
    overflow: hidden;
    background: transparent;
}
.mini-menu .sub ul li a {
	margin-top: 12px;
    display: block;
    padding: .7em 1em;
    color:#514b92;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
.mini-menu .sub ul li a:hover,
.mini-menu .sub ul li a.active {
    border-radius: 50px;
    padding-left: 1.3em;
    background: #C6A15B;
    color: #1F1F1F;
    font-weight: 600;
}


/* активный переключатель */
.mini-menu .sub > a.active:before{
    color: #f2bd00;
}



.info {
	background: url(../img/back2.png) no-repeat;
	background-size: cover;
}
.info__container {
	max-width: 1260px;
	margin: 0 auto;
}
.info__text{
	max-width: 964px;
	margin: 0 auto;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.info__text{
	max-width: 964px;
	margin: 0 auto;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.info_left {
	text-transform: uppercase;
}
.info_left p{
	font-weight: 600;
	font-size: 15px;
}
.info_left h2{
	font-weight: 700;
	font-size: 80px;
}
.info_right {
	max-width: 478px;
	padding-left: 60px;
}
.info_right p{
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
}
.info__logo {
position: absolute;
top: 50px;
}
.info__social {
    color: #8b8b8b;
    position: absolute;
    bottom: 50px;
}
.info__social a{
    color: #8b8b8b;
}
.fa {
	border: 1px solid #8b8b8b;
}
.fa-facebook-f {
	padding: 5px 8px;
}
.fa-twitter {
	padding: 5px;
}
.fa:hover {
	color: #ffff00;
	border: 1px solid yellow;
}
.pulse {
  animation-duration: 7s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}



.team {
	background: url(../img/back2.png) no-repeat;
	background-size: cover;
}
.team__container {
	max-width: 1260px;
	margin: 0 auto;
}
.info__items_flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.info__cards {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.info__card {
	margin-right: 30px;
}
.info__card h3 {
	padding-top: 28px;
	padding-bottom: 11px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
.info__card p {
	padding-bottom: 18px;
	font-size: 11px;
	font-weight: 400;
	color: #898989;
}
.info__card img{
	cursor: pointer;
}
.info__card img:active{
    -moz-transform: scale(1.25); /* Для Firefox */
    -ms-transform: scale(1.25); /* Для IE */
    -webkit-transform: scale(1.25); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1.25); /* Для Opera */
    transform: scale(1.25);
}
.info__item i {
    border: none;
    color: #c6a15b;
    padding: 0;
    margin-right: 10px;
}
.info__item i:hover {
    border: none;
}
.two {
	padding-top: 90px;
}
